*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

:root{
  --corPrimaria:#4834d4;
  --corSecundaria:#181529;
}

.container{
  max-width: 600px;
  margin: 0 auto;

}